@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';

.logo-lnk {
    width: rem(24px);
    min-width: rem(24px);
    height: rem(24px);
    border-radius: rem(4px);
    background-image: url('images/bit-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}